.size {
  width: 27px !important;
  height: 1px !important;
  padding: 0;
}

.boxStyles {
  border: 2px solid #0dbb09 !important;
  width: 90%;
  height: 200px;
  margin: auto;
  margin-top: 15px;
}

.buttonStyles {
  width: 95px;
  height: 45px;
  margin-left: 0.5em !important;
}

.buttonPosition {
  text-align: right;
  width: 70%;
}

.grid {
  width: 100%;
  margin: auto;
}
.addIcon {
  width: 90% !important;
  margin-top: 20px !important;
  margin: auto;
}
